.logoContainer {
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: LogoMotion 2s infinite linear;
  }
}

@keyframes LogoMotion {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: rotate(50deg);
  }
}
